<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Q9550 PState; Make Sure OEM Table is dropped</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-CPUPM.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Q9550 CState; Make Sure OEM Table is dropped</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-CPUCST.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Required for Sleep/Reboot Fix; Make sure to rename _PTS</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PTS.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IRQ Fixes. HPET must be patched otherwise constant crash.</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-IRQS.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleLPC Required for Proper Power Management.</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-LPC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Add missing or Remove unused devices</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-Devices.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Embedded Controller</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-EC-USBX.aml</string>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Base</key>
				<string></string>
				<key>BaseSkip</key>
				<integer>0</integer>
				<key>Comment</key>
				<string>_PTS to ZPTS; SSDT-PTWAKS</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>X1BUUw==</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Replace</key>
				<data>WlBUUw==</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>RFNEVA==</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
